body { background-color: #e9e9e9; }

h1 {
    font-family: Arial, Helvetica, sans-serif;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
  margin: 5px 5px 5px 5px;
  padding: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  align-items: left;
  margin: 5px;
  width: 7.5em;
  height: 10em;
  background: #fff;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.card__image {
  
  position: relative;
  size: 100px;  
  width: 100%;
  display: block;
  max-width: 8em;
  height: 10em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.card__image:hover {
    cursor: pointer;
}
.card__image:after {
      bottom: 0;
      color: rgba(255,255,255,1);
      transition: (all .15s);
}
.card:hover {
    transition: (all .15s);
}
  
  
.card__image:hover::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "FontAwesome";
    font-size: 4em;
    text-align: center;
    content: "\f061";
    color: rgba(255, 255, 255, 0);
    color: #333333;
    transition: (all .15s);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }
  
.image-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba (255,255,255,0);
    transition: (backgroundColor, .15s);
}

.card__actions {
  font-family: serif;
  font-size: 25px;
  line-height: 12px;
  color: #a3a3a3;
  text-align: right;
  padding: 0 8px 0 0;
  margin: 0;
}

.card.is-checked {
    background-color: rgba(35,155,55,.66);
}
.card.is-checked:after {
      font-size: 2.26em;
      bottom: 0;
      transition: all .15s;
}

.card.raster {
    background-image: url(raster.png);
    background-size: cover;
}

.card.raster::after{
    content: "Raster";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    margin: -80%;
    color: #000000;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.card.bubble {
    background-image: url(bubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card.bubble::after{
    content: "Sprechblasen";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    margin: -70%;
    color: #333333;
}

.card.sketch {
    background-color: #5FCDD9;
}

.card.sketch::after{
    content: "Skizze";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    margin: -80%;
    color: #ffffff;
}

.card.story {
    background-image: url(story.png);
    background-size: cover;
    background-position: center;
}

.card.story::after{
    content: "Storyboard";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: -75%;
    color: #000000;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.card.ink {
    background-color: #000000;
}

.card.ink::after{
    content: "Tinten";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    margin: -80%;
    color: #ffffff;
}

.card.fertig {
    background-color: #04bf65;
}

.card.fertig::after{
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 2em;
    text-align: center;
    margin: -80%;
    color: #ffffff;
}


